@(questions: List[User_question])

@main("Questions from users") {
	
	@if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
   
	

<table border="1">
<tr>

<td>ID</td>
<td>UID_user</td>
<td>Потребител</td>
<td>Въпрос</td>
<td>Категория</td>
<td>Верен отговор</td>
<td>Отговор1</td>
<td>Отговор2</td>
<td>Отговор3</td>
<td>Добави</td>
<td>Изтрий</td>
</tr>

@for(question <- questions) {
		
		<tr>
		
		<td>@question.id</td>
		<td>@question.getUser_uid()</td>
		<td>@question.getUsername()</td>
		<td>@question.getQuestion()</td>
		<td>@question.getCategory()</td>
		<td>@question.getRight_answer()</td>
		<td>@question.getAnswer1()</td>
		<td>@question.getAnswer2()</td>
		<td>@question.getAnswer3()</td>
		<td> <a href="/admin/users_questions/insert/@question.id">Insert</a></td>
		<td> <a href="/admin/users_questions/delete/@question.id">Delete</a></td>
		
		</tr>

}
</table>





}