@(question_form: Form[Question])

@import helper._
@import helper.twitterBootstrap._

@main_admin("Add Question") {
<div id="exit"> <p> <a class="btn btn-primary" href="/logout"> Изход</a> </p> </div>
<ul class="nav nav-tabs">
      <li>
       <a href="/admin">Home</a> 
      </li>
     <li class="active"><a href="/admin/question/add">Добави въпрос</a></li>
	<li> <a href="/admin/users_questions"> Преглед на потребоителски въпроси</a></li>
		       
    </ul>  
    
    @if(flash.contains("success")) {
               
                 <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
         @flash.get("success")</div>
            }
      <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row-fluid">
      <div class="span10 offset1">
        @helper.form(action = routes.Questions.save) {
          <h2>Добавете въпрос:</h2>
          <div class="row-fluid">
            <div class="span4">
              <span class="help-block">Въпрос</span>
              <textarea class="input-block-level" rows="6" name="question"
              placeholder="Въведете въпрос...."></textarea>
            </div>
            <div class="span4">
              <span class="help-block">Категория</span>
              <select name="category">
                
                <option value="1">История</option>
                <option value="2">Природни науки</option>
                <option value="3">Изкуство</option>
                <option value="4">Литература</option>
                <option value="5">Спорт</option>
                <option value="6">География</option>
                <option value="7">Астронимия</option>
                <option value="8">Технологии</option>
                <option value="9">Кино и телевизия</option>
              </select>
              <span class="help-block">Верен отговор</span>
              <input type="text" class="input-block-level" placeholder="Верен отговор..."
              name="right_answer"> 
            </div>
            <div class="span4">
              <span class="help-block">Други отговори</span>
              <input type="text" class="input-block-level input-medium"
              name="answer1">
              <input type="text" class="input-block-level input-medium" name="answer2">
              <input type="text" class="input-block-level input-medium" name="answer3">
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="reset" class="btn" value="Reset"> 
              </div>
            </div>
          </div>
       }
      </div>
    </div>
    
    
    
}