@(questions: List[Question], categories: Array[String])

@main_admin("Questions") {
	
	
   
	<div id="exit"> <p> <a class="btn btn-inverse" href="/logout"> Изход</a> </p> </div>
<ul class="nav nav-tabs">
      <li>
       <a href="/admin">Home</a> 
      </li>
     <li><a href="/admin/question/add">Добави въпрос</a></li>
	<li > <a href="/admin/users_questions"> Преглед на потребоителски въпроси</a></li>
	<li class="active"> <a href="/admin/questions"> Преглед на въпроси</a></li>
		       
    </ul>

@if(flash.contains("success")) {
               
                 <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
         @flash.get("success")</div>
            }

 <table class="table table-hover">
      <thead>
        <tr>
        

<th class="question">Въпрос</th>
<th class="category">Категория</th>
<th class="answer">Верен отговор</th>
<th class="answer"> Отговор1</th>
<th class="answer">Отговор2</th>
<th class="answer">Отговор3</th>
<th class="button">Добави</th>
<th class="button">Изтрий</th>
        </tr>
      </thead>
      <tbody>
       
       
       @for(question <- questions) {
		
		<tr>
		
	
		
		<td>@question.getQuestion()</td>
		<td>@categories(question.getCategory())</td>
		<td>@question.getRight_answer()</td>
		<td>@question.getAnswer1()</td>
		<td>@question.getAnswer2()</td>
		<td>@question.getAnswer3()</td>
		<td> <a  class="btn btn-success btn-mini" href="/admin/questions/edit/@question.id">Edit</a></td>
		<td> <a  class="btn btn-danger btn-mini" href="/admin/questions/delete/@question.id">Delete</a></td>
		
		</tr>

}
       
       
      </tbody>
    </table>



}