@(user_uid: Long)
@main_play("Know your trump") {
   	<a href="/canvas/"><img class="exit" src="@routes.Assets.at("images/exit.jpg")"></a>
	<div id="users-table"></div>
	<div id="finish-message" style="display:none;"> </div>
	<div id="message-out-of-points" ></div>
	<div id="category" style="display:none;"></div>
	<div id="timer"></div>
	<div id="timer1"> </div>
	<div id="timer2"> </div>
	<div id="timer3"> </div>
	<div id="timer4"> </div>
		<div class="question" style="display:none;"> 
			
			
			<div class="question-cont"> 
				<h4 class="question"></h4>
			</div> 
			<div class="answers"> 
				<span id="flag-answerA"> A </span>
				<span id="choiceA" style="display:none;"> </span>
				<button class="btn answer" id="answerA"></button>
				<span  id="flag-answerB" > B </span>
				<span id="choiceB" style="display:none;"></span>
				<button class="btn answer" id="answerB"></button>
				<span id="flag-answerC"> C </span>
				<span id="choiceC" style="display:none;"></span>
				<button class="btn answer" id="answerC"></button>
				<span id="flag-answerD"> D </span>
				<span id="choiceD" style="display:none;"></span>
				<button class="btn answer" id="answerD"></button>
			</div>
		</div>
		
	
		<div class="jokers">  
			<button class="btn joker" id="joker50">50/50</button>
			<button class="btn joker" id="joker_voice" style="display:none;">Гласа на мнозинството</button>
		</div>
		<span id="message" style="display:none;"> </span>
		<span id="bet" style="display:none;"></span>
		
		<div class="bet-btn" style="display:none;">
			<span class="range">
				
				<input type="range" name="raise" style="width:150px;" min="1" max="100" value="1">
				<output for="raise" onforminput="value = raise.valueAsNumber;"></output> 
			</span>
			<button class="btn btn-block bet" id="raise">Заложи </button><br>
			<span class="bet"></span>
			<button class="btn btn-block bet" id="call">Отговори</button>
			<button class="btn btn-block bet" id="fold">Откажи</button>
		</div>
		
		
		<div class=:"joker"> </div>

	<div style="top:180px;left:300px;position: absolute;">
		<ul id="status">
		</ul>
	</div>
	
	
	<script type="text/template" id="users-table-template">
		<% 
			var number_of_slots = 4 ;
			for(var i = 1; i <= number_of_slots; i++) {
				// try to find player for this slot
				var player = _.filter(members, function(member){ return member.slot == i; })

				if (player.length) {
					var member = player[0];
		%>
					<div id="member-<%= member.uid %>" >
						<span class="player<%= member.slot %> name"><%= member.name %></span>
						<div class="player<%= member.slot %>"> 
							<span class="points"><%= member.points %></span>
							<img class="player" src="<%= member.picture %>">
							<div class="user-answer" style="display:none;">
								<img id="ballon<%= member.slot %>" src="/assets/images/ballons/<%= member.slot %>.gif">
								<span id="answer<%= member.slot %>" class="answer"></span>
								<span id="time<%= member.slot %>" class="time" ></span>
								
							</div>
							
						</div>
					</div>
				<% } else { %>		
					<div class="no-player-slot">
						<span class="player<%= i %> name">&nbsp;</span><br>
						<div class="player<%= i %>"> 
							<img class="player" src="@routes.Assets.at("images/noplayer.jpg")">
							
						
						</div>
					</div>
				<% } %>	
		<% } %>
		
	</script>
	<script type="text/template" id="category-template">
		
		<div class="category" > 
			<img style="" src="/assets/images/category/<%= category %>.gif">  
		</div>
	</script>
	<script type="text/template" id="message-template">
		
		<div class="message"><%=message %> </div>
	</script>
	<script>
		window.game = new Game(@user_uid).start();
	</script>
	 <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>  
	    
}