@(question_form: Form[User_question])

@import helper._
@import helper.twitterBootstrap._

@main("Create task") {
	
    @if(flash.contains("success")) {
               
                 <div class="alert alert-success" id="add-message">
        <button type="button" class="close" data-dismiss="alert">×</button>
         @flash.get("success")</div>
            }

    	<div id="error"  class="alert alert-error" style="display:none">
    		
    		Не са подпълнени всички полета!</div>
    		
    		
    		<div id="error1"  class="alert alert-error" style="display:none">
    		 
    		Дължината на полeто е твърде голяма!</div>
    		
    	<form action="/question" id="form-add-question" method="POST">
    		
    	<div id="add-form">
    	
	    	<div class="control-group">
			  <label class="control-label" for="question">Въпрос</label>
			  <div class="controls">
			    <textarea rows="6" cols="12" name="question" placeholder="Въведете въпрос...."></textarea>
			  </div>
			</div>
	    	<div class="control-group">
			  <label class="control-label" for="category">Категория</label>
			  <div class="controls">
			    <select name="category">
	                <option value="1">История</option>
              	  <option value="2">Природни науки</option>
               	 <option value="3">Изкуство</option>
                <option value="4">Литература</option>
                <option value="5">Спорт</option>
                <option value="6">География</option>
                <option value="7">Астронимия</option>
                <option value="8">Технологии</option>
                <option value="9">Кино и телевизия</option>
	              </select>
			  </div>
			</div>
	       <div class="control-group">
			  <label class="control-label" for="ight_answer">Верен отговор</label>
			  <div class="controls">
			    <input type="text" class="input-large" id="answer" placeholder="Верен отговор..." name="right_answer">
			  </div>
			</div>
			
			<div class="control-group">
			  <label class="control-label" for="answer1">Друг отговор</label>
			  <div class="controls">
			    <input type="text" class="input-large" id="answer" name="answer1">
			  </div>
			</div>
			
			<div class="control-group">
			  <label class="control-label" for="answer2">Друг отговор</label>
			  <div class="controls">
			     <input type="text" class="input-large" id="answer" name="answer2">
			  </div>
			</div>
			
			<div class="control-group">
			  <label class="control-label" for="answer3">Друг отговор</label>
			  <div class="controls">
				 <input type="text" class="input-large" id="answer" name="answer3">
			  </div>
			</div>
			
	           <br>
	          
	            <button type="submit" class="btn"  id="submit-btn">Добави</button>
	            <input type="reset" class="btn" value="Reset"> 
          </div>
    </form>
    
}