@(form: Form[Admin])

@main("Login") {
        @helper.form(routes.Admins.authenticate) {
            
            <h1>Sign in</h1>
            
            
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
             @if(flash.contains("error")) {
                <p class="success">
                    @flash.get("error")
                </p>
            }
            
            <p>Username
                <input type="text" name="username">
            </p>
            <p>Password
                <input type="password" name="password" >
            </p>
            <p>
                <button type="submit">Login</button>
            </p>
            
        }
        
  }      
