@(name: String, message: String)

@main("facebook canvas") {
	
	<p id="username">@name</p>
	<a  class="btn btn-inverse btn-large" href="/game" id="start_new_game" >Play</a> 
	<div style="position: absolute; left: 31px;top: 223px; font-size: 15px;font-weight: bold; padding-left: 0px;
padding-right: 0px;

border-left-width: 0px;
border-right-width: 0px;" class="alert alert-error">@message</div>



<p><a onclick='postToFeed(); return false;'>Post to Feed</a></p>
    <p id='msg'></p>
 <script src="//connect.facebook.net/en_US/all.js"></script>
 
  <script> 
      FB.init({appId: "249406605187123", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          redirect_uri: 'http://localhost:9000/canvas/',
          link: 'https://developers.facebook.com/docs/reference/dialogs/',
          picture: 'http://fbrell.com/f8.jpg',
          name: 'Facebook Dialogs',
          caption: 'Reference Documentation',
          description: 'Using Dialogs to interact with users.'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
        
       
      }
      
      
    
    </script>
		
		
		
}