@(question_form: Form[User_question])

@import helper._
@import helper.twitterBootstrap._

@main("Create task") {
    <h1>Add new Question</h1>    
    
    @helper.form(action = routes.User_questions.save) {
    	
    	<textarea rows="6" cols="22" name="question"></textarea><br>


				Category<br>
				<select name="category">
				<option value="Математика"> Математика</option>
				<option value="История"> История</option>
				<option value="Астрономия"> Астрономия</option>
				<option value="География"> География</option>
				<option value="Компютърни науки"> Компютърни науки</option>
				
				
				
				</select> 
    	
    	   	
            @inputText(
                question_form("right_answer"), 
                '_label -> "Верен отговор", 
               
                '_error -> question_form.globalError
            )
            @inputText(
                question_form("answer1"), 
                '_label -> "Отговор", 
                
                '_error -> question_form.globalError
            )
            @inputText(
                question_form("answer2"), 
                '_label -> "Отговор", 
              
                '_error -> question_form.globalError
            )
            @inputText(
                question_form("answer3"), 
                '_label -> "Отговор", 
                
                '_error -> question_form.globalError
            )
           
    	
    	<input type="submit" value="save">
    }
    
}