@(form: Form[Admin])

@main_admin("Login") {
	
            
            @if(flash.contains("success")) {
               
                 <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
         @flash.get("success")</div>
            }
            @if(flash.contains("error")) {
               
                 <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
         @flash.get("error")</div>
            }
	
	
	
        @helper.form(routes.Admins.authenticate) {
        <div id="sign_in">	
        	<div class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label" for="username">Username</label>
			    <div class="controls">
			      <input type="text"  name="username" id="inputEmail" placeholder="username">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Password</label>
			    <div class="controls">
			      <input type="password"  name="password" id="inputPassword" placeholder="password">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			       <button type="submit" class="btn">Sign in</button>
			    </div>
			  </div>
			</div>
		</div>
        }
        
  }      
