@(form: Form[Admin])

@main_admin("Login") {
	
	@if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
             @if(flash.contains("error")) {
                <p class="success">
                    @flash.get("error")
                </p>
            }
	
	
	
        @helper.form(routes.Admins.authenticate) {
        <div id="sign_in">	
        	<div class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label" for="username">Username</label>
			    <div class="controls">
			      <input type="text"  name="username" id="inputEmail" placeholder="username">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">Password</label>
			    <div class="controls">
			      <input type="password"  name="password" id="inputPassword" placeholder="password">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			       <button type="submit" class="btn">Sign in</button>
			    </div>
			  </div>
			</div>
		</div>
        }
        
  }      
