@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    	<link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    	<script src="https://app.divshot.com/js/bootstrap.min.js"></script>
    	<script src="@routes.Assets.at("javascripts/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/game.js")" type="text/javascript"></script>
    </head>
    <body id="home_users">
    
		<div id="btn-home">
			 <a class="btn btn-block" href="/canvas/" id="menu-btn">Начало</a> 
		</div>
	
		<div id="btn-question">
			 <a class="btn btn-block" href="/question/add" id="menu-btn">Добави въпрос</a>
		</div>
	
		<div id="btn-info">
			 <a class="btn btn-block" href="#" id="menu-btn">За мен</a> 
		</div>
	
        @content
    </body>
</html>
