<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>inna</display-name>
  
  
    
  <servlet>
    <description></description>
    <display-name>facebook</display-name>
    <servlet-name>facebook</servlet-name>
    <servlet-class>facebook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facebook</servlet-name>
    <url-pattern>/facebook/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login/</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>Add_question</display-name>
    <servlet-name>Add_question</servlet-name>
    <servlet-class>Add_question</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_question</servlet-name>
    <url-pattern>/Add_question</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Game</display-name>
    <servlet-name>Game</servlet-name>
    <servlet-class>Game</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Game</servlet-name>
    <url-pattern>/Game</url-pattern>
  </servlet-mapping>
  

</web-app>